@import "tailwindcss";
@config "../../tailwind.config.js";

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.text-shadow-sm {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quote-bg::before {
  content: '"';
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 120px;
  font-family: 'Playfair Display';
  color: rgba(142, 27, 49, 0.05);
  line-height: 1;
}